.Initiation {
  @include Wrap_desktop();
  display: flex;
  flex-direction: column;
  padding: 60px 100px 150px 100px;

  .Typography_title {
    text-align: center;
  }

  .Typography_content {
    @include Menu_style_desktop();
    font-weight: normal;
    color: $bleu;
  }

  .InteractiveHome_video {
    width: 100%;
    padding: 40px 0;
  }
}
